@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --blue: #003967;
}

body {
    font-family: "DM Sans", sans-serif !important;
    font-size: 2rem;
    color: var(--text-color-primary);
    -webkit-font-smoothing: antialiased;
    background-color: #222 !important;
}

.bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.subtitle {
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: var(--text-color-primary);
    opacity: 0.8;
}
.title {
    font-size: 4.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.125rem;
    margin-bottom: 3rem;
}
.button-wrapper {
    text-align: center;
}
.button.button_secondary {
    background-color: #fff;
    border: 1px solid var(--blue);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    color: var(--blue);
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s;
    display: inline-block;
}
.button.button_secondary:hover {
    background-color: var(--blue);
    color: #fff;
}

header .navbar {
    padding: 4rem;
}

.navbar .offcanvas .offcanvas-body {
    justify-content: center;
}

header .navbar-nav.languages {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    font-size: 1.5rem;
}

header .navbar-nav.languages a.nav-link {
    color: #fff;
}
header .navbar-nav.languages ul li {
    font-size: 1.5rem;
}

header .navbar .offcanvas .offcanvas-body ul li:not(:last-child) {
    margin-right: 7.5rem;
}

header .navbar .offcanvas .offcanvas-body ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
}

header .header-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .header-contact i {
    color: #f28a57;
    font-size: 2.4rem;
}

header .header-contact a {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
}

.content-page-banner {
    position: relative;
    min-height: 60dvh;
}

.content-page-banner .content-wrapper {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}
.content-page-banner .content-wrapper p {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.apartments {
    background-color: #fff;
    padding: 7.5rem 0;
}

.apartments .wrapper {
    background-color: #f8ecec;
    padding-bottom: 3rem;
    position: relative;
}
.apartments .wrapper h5 {
    font-size: 2rem;
    text-transform: uppercase;
}
.apartments .wrapper .content-wrapper {
    padding: 4rem 2.5rem;
}

.apartments .wrapper .content-wrapper p {
    font-size: 1.6rem;
}
.apartments .wrapper .content-wrapper p:first-of-type {
    margin-top: 4rem;
}
.apartments .wrapper .slider-control {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.slider-control button {
    color: #fff;
    padding: 5px;
    border: none;
}
.slider-control button i {
    font-size: 2rem;
}
.slider-control .prev-arrow {
    background-color: #49495d;
}
.slider-control .next-arrow {
    background-color: #e6d1aa;
    color: #fff;
}

.apartments .button-wrapper {
    margin-top: 5rem;
}

.apartments .col-lg-6 {
    padding: 0;
}

.apartments-2 {
    background-color: #f8f4f4;
    padding-bottom: 0;
}

.apartments-2 h2 {
    margin-bottom: 5rem;
}

.apartments-2 .wrapper {
    background-color: unset;
}

.apartments-2 .wrapper .content-wrapper {
    text-align: end;
    padding-top: 0;
    padding-bottom: 0;
}

.apartments-2 .wrapper .content-wrapper p:first-of-type {
    margin-top: 0;
}

.apartments-2 .wrapper .content-wrapper p,
.apartments-2 .wrapper .content-wrapper h5,
.apartments-3 .wrapper .content-wrapper h5,
.apartments-3 .wrapper .content-wrapper p {
    margin-bottom: 2rem;
}

.apartments-3 .wrapper {
    background-color: #fffcec;
}
